name: Review PRs

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  Review:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: akiojin/auto-review-github-action@v2
        continue-on-error: true
        with:
          openai-api-key: ${{ secrets.OPENAI_API_KEY }}
          target: 'ts,yml,json'
          language: 日本語
