name: Release

on:
  push:
    tags:
      - v*

jobs:
  Release:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      packages: write
    steps:
    - uses: actions/checkout@v3
    - run: gh release create ${{ github.ref_name }} --generate-notes
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
